@model List<ProjetoWebWkTechnology.Domain.Entities.Produto>
@{
    ViewData["Title"] = "Página de Produtos";
}

<link rel="stylesheet" type="text/css" href="~/lib/dataTables/datatables.min.css" />

<div class="container-fluid">
    <h1 class="text-center">Lista de Produtos</h1>
    <div class="justify-content-end my-3" style="display:flex">
        <a class="btn btn-success text-light" asp-controller="Produto" asp-action="CadastrarProduto"><i class="bi bi-plus-circle"></i> Cadastrar Produto</a>
    </div>
     
    <div class="card px-5 py-3">
        <table id="tabelaProdutos" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in Model)
                {
                    <tr>
                        <td>@produto.Nome</td>
                        <td>@produto.Descricao</td>
                        <td>R$ @produto.Preco</td>
                        <td>@produto.Marca</td>
                        <td>@produto.Categoria.Nome</td>
                        <td>
                            <div class="justify-content-around" style="display:flex">
                                <a class="btn btn-primary text-light" asp-controller="Produto" asp-action="Visualizar" asp-route-id="@produto.Id"><i class="bi bi-eye"></i> Visualizar</a>
                                <a class="btn btn-warning text-light" asp-controller="Produto" asp-action="Editar" asp-route-id="@produto.Id"><i class="bi bi-pencil-square"></i> Editar</a>
                                <a class="btn btn-danger text-light" asp-controller="Produto" asp-action="Deletar" asp-route-id="@produto.Id" method="delete"><i class="bi bi-trash"></i>Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
       $(document).ready(function() {
        $('#tabelaProdutos').DataTable(configuracaoPadraoDatatables);
    } );
</script>